@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$yellow: #ffb700;
$yellow2: #ffc000;
$white: #f8fce8;
$dark: #1c1c1a;
$font1: 'Noto Sans', sans-serif;

* {
	font-family: $font1;
}

*::selection {
	background: $yellow;
	color: $dark;
}

html {
	scroll-behavior: smooth;
}

.App {
	background-image: url('./images/ep_naturalblack.png');
	background-repeat: repeat;
	-webkit-box-shadow: inset 0px 0px 29px 0px rgba(237, 236, 230, 1);
	-moz-box-shadow: inset 0px 0px 29px 0px rgba(237, 236, 230, 1);
	box-shadow: inset 0px 0px 29px 0px rgba(237, 236, 230, 1);

	#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		border: 3px inset #c1c2be;
		background: $dark;
		color: $white;
		cursor: pointer;
		padding: 11px 13px 11px 13px;
		transition: 0.4s;
	}

	#myBtn:hover {
		background: #c1c2be;
	}
}

#start {
	background: $dark;
	clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 50% 100%, 0 85%, 0 0);
	margin-bottom: 10vh;

	canvas {
		position: absolute !important;
		width: 100%;
		height: 95vh !important;
	}

	#arrow-down {
		position: relative;
		$ani-speed: 2s;
		$ani-delay: 1s;
		height: 50px;
		top: -2vh;

		.arrow {
			opacity: 0;
			position: absolute;
			left: 50%;
			top: 90%;
			transform-origin: 50% 50%;
			transform: translate3d(-50%, -50%, 0);
			content: url('./images/download.png');
			cursor: pointer;
		}

		.arrow-first {
			animation: arrow-movement $ani-speed ease-in-out infinite;
		}
		.arrow-second {
			animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
		}

		@keyframes arrow-movement {
			0% {
				opacity: 0;
				top: 45%;
			}
			70% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}

	#iconContainer {
		height: 15vh;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			margin: 0 8px 0 8px;
		}
	}

	#headerIn {
		height: 75vh;
		max-width: 2000px;
		margin: 0 auto 0 auto;
		position: relative;

		#headerContent {
			height: 100%;
			margin-left: auto;

			#leftContainer {
				width: 50%;
				float: left;
				display: grid;
				height: 100%;

				a {
					margin: auto;
					z-index: 2;

					svg {
						cursor: pointer;
						transition: 0.3s;
					}

					svg:hover {
						opacity: 0.6;
					}
				}
			}

			#nameContainer {
				width: 50%;
				float: right;
				display: grid;
				height: 100%;

				#name,
				#frontWeb {
					font-family: $font1;
					font-weight: 900;
					color: $yellow;
					font-size: 60px;
				}

				#name {
					display: flex;
					justify-content: flex-end;
					flex-direction: column;
					text-align: center;
					width: 700px;
				}

				#frontWeb {
					color: $white;
					font-size: 30px;
					width: 700px;
					text-align: center;
				}
			}
		}
	}
}

main {
	#projects {
		padding: 10px 20px 15px 15px;
		color: $white;
		display: flex;
		flex-direction: column;
		max-width: 800px;
		margin: 0 auto;

		header {
			font-size: 40px;
			text-align: left;
			font-weight: bold;
			margin-bottom: 30px;
		}

		section {
			padding: 30px;
			border: 3px inset #c1c2be;
			margin-bottom: 130px;
			background: $dark;
			-webkit-box-shadow: 6px 6px 9px 0px rgba(143, 142, 140, 1);
			-moz-box-shadow: 6px 6px 9px 0px rgba(143, 142, 140, 1);
			box-shadow: 6px 6px 9px 0px rgba(143, 142, 140, 1);
			.leftSide {
				width: 50%;
				float: left;

				.imgCont {
					.links {
						a {
							text-decoration: none;
							color: #f05133;
							transition: 0.3s;
						}

						a:first-of-type {
							margin-right: 15px;
						}

						a:hover {
							opacity: 0.6;
						}
					}
				}

				header:first-of-type {
					font-size: 30px;
					margin-bottom: 20px;
				}

				.techCont {
					header {
						font-size: 18px;
						margin: 15px 0 0 0;
						color: $white !important;
					}

					ul {
						margin-top: 5px;
						list-style: none;

						li {
							background: url(images/dot.png) no-repeat 0 9px;
							margin: 3px 0;
							padding: 6px 0 6px 22px;
						}
					}
				}
			}

			.rightSide {
				width: 50%;
				float: right;

				header {
					margin-bottom: 10px;
					font-size: 25px;
				}
			}
		}

		section:first-of-type {
			.leftSide {
				header:first-of-type {
					color: $yellow;
				}
			}
		}

		section:nth-of-type(2) {
			.leftSide {
				header:first-of-type {
					color: #4e3bff;
				}
			}
		}

		section:nth-of-type(3) {
			.leftSide {
				header:first-of-type {
					color: #f33;
				}
			}
		}

		section:nth-of-type(4) {
			.leftSide {
				header:first-of-type {
					color: #fc6603;
				}
			}
		}

		section:nth-of-type(5) {
			.leftSide {
				header:first-of-type {
					color: #e3aa84;
				}
			}
		}
	}
}

footer {
	-webkit-box-shadow: 0 -2px 20px #888888;
	-moz-box-shadow: 0 -2px 20px #888888;
	box-shadow: 0 -2px 20px #888888;
	position: relative;
	margin-top: 270px;
	background: #04304a;

	#contactBorder {
		background: $white;
		background: $dark;
		width: 800px;
		display: flex;
		justify-content: center;
		outline: 4px ridge $yellow;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -60%);

		form {
			max-width: 770px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			p {
				color: $white;
				margin-top: 2px;
				padding-left: 2px;
				font-size: 15px;
			}

			header {
				margin-top: 3px;
				background: $dark;
				color: $white;
				font-size: 35px;
				font-weight: bold;
				flex: 1 0 100%;
				color: $yellow;
			}

			input[type=email],
			input[type=text] {
				flex: 1 0 40%;
				height: 35px;
			}

			input[type=email] {
				margin-right: 7px;
			}

			input[type=text] {
				margin-left: 7px;
			}

			textarea {
				margin-top: 14px;
				padding-top: 5px;
				width: 100%;
				height: 150px;
				resize: none;
			}

			input[type=email],
			input[type=text],
			textarea {
				font-size: 15px;
				border: 3px solid $yellow2;
				background: $dark;
				color: $white;
				padding-left: 7px;
				padding-right: 7px;
				transition: all 0.6s ease 0s;
			}

			input[type=email]:focus,
			input[type=text]:focus,
			textarea:focus {
				border: 3px solid #a2fc7e;
			}

			input[type=email]:hover,
			input[type=text]:hover,
			textarea:hover {
				outline: none;
			}

			button {
				background: #f05133;
				border: 3px solid $yellow2;
				color: $white;
				padding: 8px 16px;
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				margin: 7px 0 14px 0;
				cursor: pointer;
				transition: all 0.4s ease 0s;
			}

			button:hover {
				background: $yellow2;
				color: $dark;
				border: 3px solid #a2fc7e;
			}
		}
	}

	#aboutMe {
		max-width: 1200px;
		padding: 200px 0 40px 0;
		margin: 0 auto;
		color: #898a87;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		font-size: 19px;

		header {
			background: none;
			font-size: 35px;
			font-family: 'Poppins', sans-serif;
			font-weight: bold;
			color: $white;
		}

		#about {
			width: 450px;
		}

		#copyright {
			margin-top: 100px;
		}
	}
}

@media screen and (max-width: 1400px) {
	#start {
		#headerIn {
			#headerContent {
				#leftContainer {
					width: 30%;
					margin-left: 20%;
				}
				#nameContainer {
					width: 30%;
					margin-right: 20%;

					#name,
					#frontWeb {
						width: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1250px) {
	footer {
		#aboutMe {
			width: 850px;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
}

@media screen and (max-width: 850px) {
	#start {
		#headerIn {
			display: grid;
			height: 70vh;

			#headerContent {
				height: auto;
				margin: auto;
				display: grid;

				#leftContainer {
					width: 100%;
					margin-left: 0;
					order: 2;
					padding-top: 25px;
				}
				#nameContainer {
					width: 100%;
					margin-right: 0;
					order: 1;
				}
			}
		}

		#iconContainer {
			height: 20vh;
		}
	}

	main {
		#projects {
			section {
				.leftSide {
					width: 100%;

					.imgCont,
					.techCont {
						display: inline-block;
					}

					.techCont {
						vertical-align: top;
						padding-left: 10px;
					}
				}

				.rightSide {
					padding-top: 10px;
					width: 100%;
				}
			}
		}
	}

	footer {
		#contactBorder {
			width: 95vw;
			padding: 1vw;
		}
	}
}

@media screen and (max-width: 500px) {
	#start {
		height: 100vh;

		#headerIn {
			height: 60vh;

			#headerContent {
				#nameContainer {
					#name {
						font-size: 15vw;
					}
					#frontWeb {
						font-size: 7vw;
					}
				}
			}
		}

		#iconContainer {
			flex-wrap: wrap;
			padding-top: 40px;
		}

		#arrow-down {
			top: 0;
		}
	}

	main {
		#projects {
			section {
				margin-bottom: 50px;

				.leftSide {
					.imgCont {
						img {
							width: auto;
							max-width: 100% !important;
							height: 100% !important;
						}
						.links {
							a {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}

	footer {
		#contactBorder {
			form {
				input[type=email] {
					width: 100%;
					margin: 0 auto 15px auto;
				}
				input[type=text] {
					width: 100%;
					margin: 0 auto 15px auto;
				}
			}
		}

		#aboutMe {
			width: auto;

			#about {
				width: auto;
			}
		}
	}
}
